/* BOTAO DE CONTATO */
.icons {
	display: flex;
	column-gap: 25px;
}

.icon {
	display: inline-flex;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 26px;
	color: black;
	border-radius: 50%;
	outline: 2px solid black;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}

.icon:hover {
	color: white;
	outline-offset: 4px;
}

.icon i {
	margin: auto;
}

.icon:hover i {
	animation: shake 0.25s;
}

.icon--linkedin:hover {
	background-color: #0A66C2;
	outline-color: #0A66C2;
}

.icon--github:hover {
	background-color: black;
	outline-color: black;
}

.icon--whatsapp:hover {
	background-color: green;
	outline-color: green;
}

@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}
/* BOTAO DE CONTATO */